@import "_bootstrap/bootstrap-reboot";
@import "_grid/default";
@import "_grid/container";
@import "_grid/col";
@import "_grid/row";
@import "_grid/translate";
@import "_grid/functions";
@import "_framework/kube";

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  text-rendering: geometricPrecision !important;
  background: #f5f5f8;
  font-weight: 400;
  line-height: 1.5;
  color: #415365;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #2e323a;
  margin: 0 0 2rem;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  z-index: 100;
  &__logo {
    display: inline-block;
    width: 250px;
    opacity: .5;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    transition: opacity .3s linear;
    @include grid-breakpoint(sm) {
      font-size: 2.1rem;
    }
    &:hover {
      color: #fff;
      opacity: 1;
      text-decoration: none;
    }
  }
}

.navbar-collapse {
  display: none;
  @include grid-breakpoint(sm) {
    display: inline-block;
  }
}


// MAIN
.main {
  @include grid-row();
  margin: 0;
  &__section {
    width: calc(100% - 250px);
  }
  &__aside {
    background: #343942;
    height: calc(100vh - 3rem);
    min-height: 600px;
    width: 250px;
    padding: 5rem 0 0;
  }
}

// FOOTER
.footer {
  padding: 0 15px;
  background: #272c3a;
  color: #555e6d;
  font-size: 14px;
  line-height: 3rem;
}
